button 
{background-color: MistyRose ;
}
button 
{color: #d55dd1
}

#swirly
{
    
    font-size: 40px;
}

#swirly
{
        color:#d11aff
}


#middle
{
     width: 399px;
       margin: 0 auto;
}









body
{
         background-color:MistyRose;
	color:black;

}

ul
{
}

#bab
{
    font-size: 150%;
}