#icecream2
{
    float: left;
}

#icecream
{
    float: right;
}

a 
{
         color:Bisque
}


body                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    background-color:  white;
    ;                                                                                                                                                                     


}
 
ol 
 {
           background-color:Bisque ;
	   
}                                                                                 