li
{
	padding: 2px;
	border: solid 2px red;
}
#potato
{
	color: indigo;
}

img
{
    border: solid 6px chartreuse;
}
#middle
{
	width: 700px;
	margin: 0 auto;
}
#pizza
{
	color: blue
}

#bananas
{
	color: green;
}

#apple
{

	color: yellow;
}
#milk
{
	color: orange;
}

#butter
{
	color: red;
}

body





{
background-color:orange;
color:red;
}

ul
{
background-color:pink;
}