a
{
       color: cyan;
}




button
{
      background-color: red
#UCC
{
       float: right;
}


li
{
       padding: 2px;
       border: solid 2px green;
}





#middle
{
   width: 200px;
   margin: 0 auto;
}

body
{
     background-color: Cyan;
     color: Teal;
}

ul
{
     background-color: Red;
     color: Yellow;
}

#butter
{
    background-color: green;
}