
#fluffy
{

	float: right;
}


img
{
    border: solid 9px lightyellow;
}

	



li

{

	padding: 3px;
	border:solid 6px lightyellow;
}

.milk
{
	color:Moccasin;

}



#middle

{

	width: 300px;
	margin: 0 auto;
}

.bread
{

	color:brown;

}

.apple
{
	color:  red;
}

body

{

	background-color:  DeepPink;
	color:MediumVioletRed;
}


ul
{

	background-color:yellow;
	color:Darkgoldenrod;
}