a
{
color: black;
}


button
{
    background-color: Chartreuse;
}

html
{
    background-color: PaleTurquoise;
    color: black;
}

#Spellbook
{
    background-color: Yellow
} 

#hello
{
    font-size: 50px;
}

#hp
{
     font-size: 50px;






